* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.ubuntu-mono-regular {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #F6FEFF;
  width: 95vw;
  height: 100vh;
  margin: auto;
}

#TermuxB{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 52px;
  width: 100vw;
}

h1 {
  text-align: center;
  margin-top: 2vh;
  position: sticky;
  top: 10px;
}

section {
  overflow: hidden;
  margin-top: 2vh;
  border-radius: 5px;
  border-bottom: 1px solid #12345630;
  border-left: 1px solid #12345630;
  border-right: 1px solid #12345630;
}

section::-webkit-scrollbar {
  display: none;
}

h5 {
  background-color: #12345650;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-block: 5px;
  padding-inline: 5px;
  overflow-x: scroll;
  white-space: nowrap;
}

h5::-webkit-scrollbar {
  display: none;
}

p {
  padding-inline: 2vw;
  font-size: 13px;
  margin: 1vh 0vh 1vh 0vh;
  overflow-x: scroll;
  white-space: nowrap;
}

p::-webkit-scrollbar {
  display: none;
}

code::-webkit-scrollbar {
  display: none;
}